# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
venv/
ENV/
env/
.venv/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints

# dotenv environment variables
.env
.env.*

# local history for editors
.history/

# Egg metadata created by setup.py
termina.egg-info/